<div id="personne"> 
    <div id="block1">
        <div class="nom_prenom">
            <h1>
                <b>
                    Ndenga LUVUMBU 
                </b>
            </h1>

        </div>
        <div class="metier">
            <h2>
                Electricien
            </h2>
            <p>
                Habilitation BR à jour, valable jusqu’à 2023
            </p>
        </div>
    </div>
    <div id="block2">
        <div class="contact">
            <p>
                +33 6 67 47 28 88
            </p>
            <p>                
                E-mail : luvumbu.n@gmail.com
            </p>
            <p>
                30 ans
            </p>
            <p>
                Permis B
            </p>
        </div>        
    </div>
    <div id="block3">        
        <div class="adresse">
            <p>
                32 rue du pont à fourchon 
            </p>
            <p>
                Lille
            </p>
        </div>
    </div>   
</div>

<style>
    .nom_prenom h1 {
         
    }
    #personne
    {
            border:2px solid  #007bab; 
            display: flex;
            justify-content: space-between;
            padding:20px; 
    }
    body{
        width:80%; 
        margin:auto; 
        
    }
</style>