<div id="info_perso">

    <div class="space"> </div>

    <div class="block1">
        <h3>
            Compétences
        </h3>
        <p>
            Electrotechnique :
        </p>
        <p>
            Détection et analyse de pannes sur installation, localisation
            de dysfonctionnements, maintenance et dépannage de
            systèmes électriques / Lecture de plans, mise en service
            d’équipements électriques / Maitrise d’appareils de
            mesures électriques, installation et raccordement d’armoires
            électriques, câblage et tirage de cables sur machines,
            repérage des emplacements et pose de chemins de câbles,
            planification de chemins de câbles pour installer un nouvel
            équipement ou pour le dé-câblage en vue du déplacement
            de machines / Domotique (lecture de plans, X relais
            (Winrelais))
        </p>
    </div>
    <div class="space"> </div>
    <div class="block2">
        <h3>
            Etudes et formations
        </h3>
        <p>
            novembre 2019 - mai 2020
            Certificat RNCP Développeur Android , niveau Bac+3/4 -
            OpenClassRoom
            2019 - 2021
            Licence informatique général - CNAM Lille
            2017 - 2018
            Formation Développement Logiciel afpa - Niveau bac
            +2 – Roubaix (59)
            2015 - 2016
            Formation Technicien Réseaux ILEP Technologies – Lille
            (59)
            2011 - 2015
            BAC PRO et BTS Electrotechnique, Lycée César Baggio –
            Lille (59)
        </p>
    </div>
</div>
<div class="space"> </div>
 <div class="xp_pro">
<h3>
    Expériences professionnelles
</h3>
 
<p>
 •	 Décembre 2020 à février 2021- CIUCH (Electromécanicien) - Tourcoing (59)<br/>
<br/>
•	 Octobre à novembre 2020 - Installations de la fibre optique chez LVB Fibre – Saint-André-lez-Lille (59)
<br/>
•	 Août 2020 - STTN (installation électrique d’une école : câblage électrique et tirage de câbles, lecture de plans) –
Roubaix (59)
2018 - 2019
Missions de manutention dans plusieurs entreprises, dont :
<br/>
•	 Juillet 2018 - Exotec Solutions (mission d’assemblage robotique et de maintenance mécanique) – Croix (59),
<br/>
•	 Janvier 2019 - CNH Industrial (mission de contrôle qualité) – Croix (59)
Mars - septembre 2018
Installations de la fibre optique chez LVB Fibre – Saint-André-lez-Lille (59)
Décembre - Février 2018
Stage de 2 mois chez HR Consulting - Réalisation d’un site de Freelance - Armentières (59)
2016 - 2017
Emplois dans le domaine de l’électricité et fibre optique:
<br/>
•	 Câbleur de système réseau internet à la préfecture de Bordeaux - itXsys – Bordeaux (33)
<br/>
•	 Câbleur d’armoires électriques industrielles et tertiaires - Entreprise TDN – Seclin (59)
<br/>
•	 Technicien IMES télécom - Entreprise ERT – Pessac (33)
</p>
 </div>
 <div class="space"> </div>
 <div class="activite">
    <h3>
        Activités
    </h3>
Loisirs : Cinéma (sciences fiction, action)<br/>
Sport : athlétisme en Club LMA (Lille Métropole Athlétisme)<br/>
Impression 3D<br/>
Montage de circuits électroniques<br/>
 </div>


<style>
    h3{
        background-color: #d0ebf3;
        text-align: center;
        border: 1px solid #d0ebf3; ;
    }
    .space{
        margin-bottom:90px; 
    }
</style>